body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.body-meals{
    background-image: url(images/Wallpaper\ Bakery\ Store.jpg);
}
.body-home{
    background-image: url(images/Food\ &\ Drink\ Menu\ Template_\ Wooden\ Style.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#home-logo-img{
   width: 250px;
    margin: auto;
    display: block;
    padding: 7px 10px 10px 10px;
}
.header{
    width: 2%;
    margin-bottom: 10px;
    text-align: left;
}
h1{
    font-size: x-large;
    text-align: center;
    color: black;
    padding-top: 10px;
    
}
H2{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}
.home-menu-iteam{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 7px solid black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 65%;
}
/*========== MEALS PAGE ===========*/
#meals{
    padding-top: 30x;
}
/*===== MEALS PAGE MENU =====*/
.meals-list a{
    text-decoration: none;
}
.meals-list-item{
    border: 5px solid black;
    margin: 10px;
}
.meals-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-left: 10px;
}
.meals-list-item i{
    float: right;
    padding-right: 10px;
    color: #1a1a1a;
}
.meals-list-item p{
    font-size: 15px;
    font-style: italic;
    margin-top: -7px;
    color: #4d4d4d;
    padding-left: 10px;
}
/*========== Extras PAGE ===========*/

#Extras{
    padding-top: 50px;
}

/*===== Extras DETAILS =====*/
.Extras-details img{
    width: 100%;
}
.Extras-details h1{
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 5px solid #1a1a1a;
}
.Extras-details h2{
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    text-align: left;
}
.Extras-details-info{
    margin-left: 25px;
    margin-right: 25px;
}
.Extras-details-info p{
    display: inline-block;
    font-size: 13px;
}
.Extras-details-box label{
    line-height: 25px;
    margin-left: 10px;
}
.Extras-details-steps{
    padding-top: 20px;
}
.Extras-details-steps ol{
    padding-left: 20px;
}
/*========== RESPONSIVE LAYOUT ===========*/
@media only screen and (min-width: 600px){
    #meals{
        margin: auto;
        width: 80%;
    }
    #Extras{
        margin: auto;
        width: 80%;
    }
} 
@media only screen and (min-width: 1000px){
    #meals{
        margin: auto;
        width: 60%;
    }
    #Extras{
        margin: auto;
        width: 60%;
    }
} 
@media only screen and (min-width: 1500px){
    #meals{
        margin: auto;
        width: 40%;
    }
    #Extras{
        margin: auto;
        width: 40%;
    }
} 
@media only screen and (min-width: 720px){
    .body-home{
        background-image: url(images/Food\ &\ Drink\ Menu\ Template_\ Wooden\ Style.jpg);
    }
    .body-meals{
        background-image: url(images/Wallpaper\ Bakery\ Store.jpg);
    }
}






